asgiref==3.2.3
awscli==1.16.247
beautifulsoup4==4.8.2
boto3==1.11.9
botocore==1.14.9
colorama==0.3.9
dj-database-url==0.5.0
Django==2.2.18
django-bootstrap4==1.1.1
django-crispy-forms==1.8.1
django-storages==1.8
docutils==0.15.2
gunicorn==20.0.4
idna==2.8
ikp3db==1.1.4
jmespath==0.9.4
psycopg2==2.8.4
pyasn1==0.4.7
python-dateutil==2.8.1
pytz==2019.3
rsa==3.4.2
s3transfer==0.3.2
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
stripe==2.38.0
urllib3==1.25.8