{% extends 'base.html' %} {% load static %} {% block content %}
<div class="cart-container container container-fluid">
    <div class="row row-flex">
        {% for item in cart_items %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-4 display panel panel-display">
            <div class="template-item">
                <div class="caption">
                    <h3> {{item.template.title}}</h3>
                    <div class="product-description">
                        {{ item.template.description }}
                    </div>
                    <p> {{ item.template.price }} </p>
                    <form action="{% url 'adjust_cart' item.template.id %}" method='post' class="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="quantity" class='sr-only'> New Qty </label>
                            <div class="input-group">
                               x <input type="number" name="quantity" min='0' max='999' placeholder='{{ item.quantity }}'/>
                            </div>
                        </div>
                        <button type='submit' class='btn btn-primary'> Adjust </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="purchase-row row">
        <p> Total </p>
        <p> £ {{ total }} </p>
    </div>
    <a href='/' class='btn btn-success'> purchase </a>
</div>

{% endblock %}
