@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap");
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    cursor: url(http://cur.cursors-4u.net/special/spe-3/spe250.cur), auto !important;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    background-color: #ff620d;
    outline: 1px solid slategrey;
}

/* NAVIGATION BAR START */

#navigation-bar {
    padding: 0 15px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
}

#navigation-bar #nav-icon a {
    font-size: 30px;
    color: #484848;
    position: fixed;
    top: 5px;
    left: 20px;
}

#navigation-bar #menu #auth-menu {
    height: 100px;
    padding: 0 100px;
}

#navigation-bar #menu #auth-menu {
    font-size: 21px;
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    padding: 0;
    left: 20px;
}

#navigation-bar #menu #auth-menu p a {
    font-size: 21px;
}

#navigation-bar #menu {
    height: 100vh;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding: 60px 0 0 0;
    transition: 0.7s;

}

#navigation-bar #menu .close {
    position: absolute;
    top: 8px;
    right: 22px;
    margin-left: 50px;
    font-size: 30;
    color: #000;
}

#navigation-bar #menu .row {
    padding: 200px 0px;
}

#navigation-bar #menu .row a,
#navigation-bar #menu .row button {
    height: 74px;
    text-align: center;
    font-size: 45px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

#navigation-bar #menu .row span,
#navigation-bar #menu .row span a {
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
}

/* NAVIGATION BAR END */

/* CART START */

#cart-bar {
    padding: 0 15px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
}

#cart-bar #cart-icon a {
    font-size: 30px;
    color: #484848;
    position: fixed;
    top: 45px;
    left: 15px;
}

#cart-bar #cart-menu {
    height: 100vh;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding: 40px 0 0 0;
    transition: 0.7s;
}

#cart-bar #cart-menu .close {
    position: absolute;
    top: 8px;
    right: 22px;
    margin-left: 50px;
    font-size: 30;
    color: #000;
}

#cart-bar #cart-menu .row a,
#cart-bar #cart-menu .row button {
    text-align: center;
    font-size: 15px;
    color: #2ec75c;
    border-radius: 0;
    margin: 0 auto;
    display: block;
    background-color: white;
    border: solid 2px #2ec75c;
}

#cart-bar #cart-menu .row span,
#cart-bar #cart-menu .row span a {
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
}

/* CART END */

/* PAGE ONE START */

#page-one-container {
    background: url("../images/orange_sky.jpeg") no-repeat center fixed;
    height: 100vh;
    width: 100vw;
}

#page-one-container #self-statement {
    color: white;
    position: absolute;
    bottom: 0;
    font-family: 'Josefin Sans', serif;
    font-size: 35px;
    width: 45vw;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 65px;
}

#page-one-container #self-statement p span {
    font-family: 'Grenze', serif;
    font-size: 40px;
    padding: 2.5px 5px;
    background-color: white;
    color: black;
}

#page-one-container #self-statement #line {
    background-color: white;
    height: 5px;
    width: 150px;
    margin-bottom: 20px;
}

/* PAGE ONE END */

/* PAGE TWO START */

#page-two-container {
    height: 100vh;
    padding: 5vh 0;
}

.template-card {
    height: 250px;
    display: block;
    margin: 10px auto;
    width: 350px;

}

.template-card img {
    height: 100%;
    width: 100%;
}

.template-card .card-text {
    position: absolute;
    top: 10px;
    background-color: rgba(235, 235, 235, 0.9);
    height: 100%;
    width: 175px;
    padding: 5px;
    font-family: 'Josefin Sans', serif;
}

.template-card .card-text form input,
.template-card .card-text form button {
    border-radius: 0;
    font-family: 'Grenze', serif;
}

/* PAGE TWO END */

/* PAGE THREE START */

#page-three-container {
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: url("../images/IMG_20191110_115448.jpg") fixed;
    background-size: cover;
    position: relative;
}

#page-three-overlay {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 25vh solid #fff;
}

#page-three-overlay-bottom {
    width: 100vw;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    /*border-left: 50vw solid #fff;*/
    border-right: 100vw solid transparent;
    border-bottom: 50vh solid #fff;
}

/* PAGE THREE END */

/* LOGIN START */

#login-container,
#register-container {
    font-family: 'Josefin Sans', sans-serif;
}

#login-container .row {
    margin: 150px auto;
    width: 300px;
    border: solid 2px #28a745;
    padding: 25px;
    text-align: center;
}

#login-container .row h2 {
    font-size: 21px;
}

#login-container .row p {
    font-size: 12px;

}

#login-container .row button {
    border: none;
    padding: 10px 45px;
    border-radius: 0;
}

/* LOGIN END */

/* REGISTER START */

#register-container .row {
    width: 85vw;
    text-align: center;
    margin: 150px auto;
    border: solid 2px #28a745;
    padding: 25px;
}

#register-container .row button {
    border: none;
    padding: 10px 45px;
    border-radius: 0;
}

/* REGISTER END */

/* CART.HTML START */

.cart-jumbo {
    font-family: 'Josefin sans', sans-serif;
    color: white;
    background: url("../images/orange_sky.jpeg") no-repeat center;
}


#cart-menu {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

#cart-menu .row .card {
    text-align: center;
    border-radius: 0;
    margin: 5px 0;
    border-radius: 0;
    border-width: 3px;
    border-style: solid;
    border-image: gradient( to bottom,
    red,
    rgba(0, 0, 0, 0)) 2 100%;
}

#cart-menu .row .card img {
    height: 150px;
    border-radius: 0;
}

#cart-menu .row .card button {
    border-radius: 0;
    font-size: 11px;
}

#cart-menu .input-group {
    margin: 0px auto;
    display: block;
}

#cart-menu form .input-group input {
    margin: 0px 10px;
    width: 50px;
    padding: 3px;
    text-align: center;
    border: none;
}

#cart-menu .purchase-row {
    width: 400px;
    margin: auto;
    display: block;
    border: none;
    text-align: center;
    padding: 15px;
    border-radius: 0px;
    bottom: 0;
}

#cart-bar #cart-menu .row a {
    width: 140px;
}

#price {
    color: crimson;
}

#cart-menu p {
    margin: 0;
}


/* CART.HTML END */

/* CHECKOUT.HTML START */

/* CHECKOUT.HTML END */

.aboutme-border {
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, #FF620D, #21D159);
    padding: 3px;
    position: absolute;
    bottom: 80px;
    left: 25px;
    border-radius: 3px;
}

.aboutme {
    width: 145px;
    height: 215px;
    background-color: #fff;
}

.aboutme p {
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: #ff620d;
    font-size: 17px;
    text-align: left;
}

/* FOOTER START */

.footer {
    position: absolute;
    bottom: 10px;
    left: 25px;
}

.footer a {
    font-size: 45px;
    padding: 0 5px;
    color: #ff620d;
}

.footer a:hover {
    color: #fa9761;
}

/* FOOTER END */
