@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap");
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

/* NAVIGATION BAR START */

#navigation-bar {
    padding: 0 15px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
}

#navigation-bar #nav-icon a {
    font-size: 30px;
    color: #fff;
    position: fixed;
    top: 5px;
}

#navigation-bar #menu {
    height: 100vh;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding: 60px 0 0 0;
    transition: 0.7s;
}

#navigation-bar #menu .close {
    position: absolute;
    top: 8px;
    right: 22px;
    margin-left: 50px;
    font-size: 30;
    color: #000;
}

#navigation-bar #menu .row {
    padding: 200px 0px;
}

#navigation-bar #menu .row a {
    height: 74px;
    text-align: center;
    font-size: 45px;
    color: black;
    text-transform: uppercase;
}

/* NAVIGATION BAR END */

/* PAGE ONE START */

#page-one-container {
    background: url("../images/orange_sky.jpeg") no-repeat center;
    height: 100vh;
    width: 100vw;
}

#page-one-container #self-statement {
    color: white;
    position: absolute;
    bottom: 0;
    font-family: 'Josefin Sans', serif;
    font-size: 35px;
    width: 45vw;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 65px;
}

#page-one-container #self-statement p span {
    font-family: 'Grenze', serif;
    font-size: 40px;
    padding: 2.5px 5px;
    background-color: white;
    color: black;
}

#page-one-container #self-statement #line {
    background-color: white;
    height: 5px;
    width: 150px;
    margin-bottom: 20px;
}

#page-two-container {
    height: 100vh;
}

/* PAGE ONE END */


/* PAGE TWO START */

.template-card {
    margin: 0;
    width: 100%;
}

.template-card h1 {
    font-size: 45px;
    font-family: 'Grenze', serif;
    color: #242424;
}

.template-card .card-text {
    color: #242424;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
    background-color: rgba(240, 240, 240, 0.90);
    padding: 5px;
    width: 50%;
}

.template-card .card-text p {
    font-style: italic;
}

.template-card img {
    width: 100%;
    position: relative;
    top: 0;
    height: auto;
}

/* PAGE TWO END */

/* PAGE THREE START */

#page-three-container {
    height: 100vh;
    width: 100vw;
    background-color: #E57248;
}

/* PAGE THREE START */