{% extends 'base.html' %} {% block content %}
<div class='container-fluid' id="page-two-container">
    <div class="row">
        {% for obj in object_list %}
        <div class="template-card col-lg-4 col-xs-12">
            <div class="template-card">
                <img src="{{obj.image_url}}"></img>
                <div class="card-text">
                    <h1>{{ obj.title }}</h1>
                    <p id='template-description'> {{ obj.description }} </p>
                    <p class='badge badge-success'id='template-price'> £{{ obj.price }} </p>
                    
                    <form method='POST' action='{% url "add_to_cart" template_id=template.id %}'>
                        {% csrf_token %}
                        <input type="number" min='1' max='999' placeholder='Quantity'/>
                        <button class='btn btn-success' type='submit'> Add </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
